{% extends 'base2.html.twig' %}

{% block bodyBack %}
    <h1> Affecter Livraison</h1>
    <form name="f" method="post" action="{{ path('AffecterCommande') }}">
        <input type="hidden" name="dat" id="dat" /> <br>
        <table >

            <tr> <th>Id commande </th> <th> <input class="form-control" type="text" name="cmd"  readonly="readonly" value="{{ cmd.id  }}" /> </th> <th > </th> </tr>
            <tr> <th> Affecter date livraison </th> <th> <input id = "loadLivreur" class="dateL form-control" type="datetime-local"  name="dat" /> </th></tr>
            <tr> <th>Id livreur </th> <th><input id = "idL" class="form-control"  readonly="readonly" type="text"  name="idl" /> </th></tr>
            <tr> <th>Id Vehicule </th> <th><input class="form-control" id = "idV" readonly="readonly"  type="text"  name="idv" /></th></tr>


            <tr><th> <input class="btn btn-success" type="submit" value="Valider" /></th> <th></th></tr>
        </table>
    </form>
    <br> <br><br>

    <table  border="1" class="table table-striped table-bordered dataTable"  role="grid" aria-describedby="zero_config_info" id="zero_config" border="1">
        <tbody id = "livreur"></tbody>
    </table>

    <br>
    <br>

    <table  border="1" class="table table-striped table-bordered dataTable"  role="grid" aria-describedby="zero_config_info" id="zero_config" border="1">
        <tbody id = "vehicule"></tbody>
    </table>

{%  endblock %}
{% block js2 %}
    <script language = "javascript">

        $(document).ready(function(){
            $()


            $("#loadLivreur").on("change", function(event){

                var dateL=moment($(".dateL").val()).format("YYYY-MM-DD HH:mm:ss");
               if( moment().diff(dateL, 'days')>0) {
                   alert('Date inferieure à la date d aujourd"hui');
                   $(".dateL").val("");
               }else {
                   //dateL=moment(dateL).set({second:0});
                   document.getElementById("dat").value = dateL;
                   $.ajax({
                       url: 'afficherLivreurDispo',
                       type: 'POST',
                       dataType: 'json',
                       data: {'dateL': dateL},
                       async: true,

                       success: function (data) {
                           //préparation table livreur
                           var e = $('<tr> <th> id Livreur</th> <th> nom</th>  <th>adresse </th> <th> Choix </th></tr>');
                           $("#livreur").html('');
                           $('#livreur').append(e);
                           for (var i = 0; i < data.length; i++) {
                               liv = data[i];
                               var e = $('<tr> <th id="idd"> </th> <th id="named"> </th> <th id="adresse"> </th>  <th> <input type="radio" name="l" class="' + liv["id"] + '" onclick="affecterLivreur(this)"   />    </th>   </tr>');
                               $("#idd", e).html(liv['id']);
                               $("#named", e).html(liv['named']);
                               $("#adresse", e).html(liv['adresse']);

                               $('#livreur').append(e);
                           }


                       },
                       error: function (xhr, textStatus, errorThrown) {
                           alert('Ajax request failed.');
                       }
                   });

                   $.ajax({
                       url: 'afficherVehiculeDispo',
                       type: 'POST',
                       dataType: 'json',
                       data: {'dateL': dateL},
                       async: true,

                       success: function (data) {
                           //préparation table vehicule
                           var e = $('<tr> <th> id vehicule</th> <th> nom</th> <th> Choix </th>   </tr>');
                           $("#vehicule").html('');
                           $('#vehicule').append(e);
                           for (var i = 0; i < data.length; i++) {
                               veh = data[i];
                               var e = $('<tr> <th id="iddd"> </th> <th id="namedd"> </th>  <th> <input type="radio" name="r" class="' + veh["id"] + '" onclick="affecterVehicule(this)" >   </th>  </tr>');
                               $("#iddd", e).html(veh['id']);
                               $("#namedd", e).html(veh['named']);


                               $('#vehicule').append(e);
                           }


                       },
                       error: function (xhr, textStatus, errorThrown) {
                           alert('Ajax request failed.');
                       }
                   });
               }
            });


        });

        function affecterLivreur(obj) {
         var setValue=   document.getElementById('idL') ;
          setValue.value=  obj.className;
        }

        function affecterVehicule(obj) {
            var setValue=   document.getElementById('idV') ;
            setValue.value=  obj.className;
        }


    </script>






{%  endblock %}