{% extends 'base2.html.twig' %}

{% block bodyBack %}

<h2> Liste des types Vehicules</h2>

    <table class="table table-striped table-bordered dataTable"  role="grid" aria-describedby="zero_config_info" id="zero_config" border="1">
    <tr>
        <th> libelle </th>
        <th> nombre de vehicules</th>
        <th></th>
        <th></th>
    </tr>

    {%  for t in typesV %}
        <tr>
            <th> {{ t.libelle }}</th>
            <th> {{ t.vehicules | length }}</th>

            <th> <a href="{{ path('modifierTypeVehicule',
                    {'id':t.id}) }}">
                    Modifier</a></th>
            <th> <a class="confirmModal" href="{{ path('supprimerTypeVehicule',
                    {'id':t.id}) }}" >
                    Supprimer</a></th>
        </tr>
    {% endfor %}
</table>

    <div id="dialog-confirm" title="Confirmation de la suppression" style="display:none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            Etes-vous sûr de vouloir supprimer ce type de vehicule ?
        </p>
    </div>
{%  endblock %}

